*{
	margin:0px;
	padding:0px; 
}
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#808080;
    background:url(../images/mobi_bg.jpg) repeat;
}
a{	text-decoration:none;color:#000;border:0px none; }
img{ border:0px none; }
#container{
	width:1000px;
	margin:0px auto;
}
#footer{
	background:url(../images/mobi_footerbg.jpg) repeat;
	width:100%;
	clear:left;
	float:left;
}
#header{
	width:1000px;
	float:left;
	margin:20px auto;
}
#header .headerinfo{
	float:left;
	width:500px;
}
#header #infotop > ul{
	float:right;	
	text-align:right;
	margin:0px;
	padding:0px;
	list-style:none;
}
#header #infotop > ul li{
	line-height:20px;
	font-size:12px;
}
#menu{
	width:1000px;
	margin:0px auto;
	float:left;
	background:#000 url(../images/mobi_linetop.png) no-repeat top center;
	padding-top:2px;
}
#menu > ul{
	margin:0px 0px 0px 50px;
	padding:0px;
	list-style:none;
}
#menu > ul li{ float:left;}
#menu > ul li a{ 
	float:left; 
	color:#808080; 
	display:block; 
	background:url(../images/mobi_menu.png) no-repeat;
	width:130px;
	height:49px;
	text-transform:uppercase;
	text-align:center;
	line-height:45px;
}	
#menu > ul li a:hover{
	background:url(../images/mobi_menuhover.png) no-repeat;	
	color:#da251c;
}
#slideshow{
	float:left;
	width:1000px;
	background:#000;
	margin-bottom:15px;
}
#hangsanxuat{
	float:left;
	width:1000px;
}
.general{
	float:left;
}
.hangleft{
	background:url(../images/mobi_hangleft.png) no-repeat;
	width:21px;
	height:105px;
}
.hangcenter{
	background:url(../images/mobi_hangcenter.png) repeat-x;
	height:105px;
	width:958px;
}
.hangright{
	background:url(../images/mobi_hangright.png) no-repeat;
	width:21px;
	height:105px;
}
#formsearch{
	height:38px;
	width:1000px;
	margin-left:-19px;
	float:left;
}
.form{
	float:left;
}
.forearchleft{
	background:url(../images/mobile_formleft.png) no-repeat;
	width:19px;
	height:39px;
}
.forearchcenter{
	background:url(../images/mobi_fomrcenter.png) repeat-x;
	height:39px;
	width:958px;
	line-height:42px;
	float:left;
	position:relative;
}
.forearchright{
	background:url(../images/mobi_formright.png) no-repeat;
	width:19px;
	height:39px;
	position:relative;
	z-index:1;
}
#keyword{
	background:url(../images/mobi_bgtext.png) no-repeat;
	width:280px;
	height:23px;
	border:0 none;
	padding-left:6px;
	color:#808080;
}

/**************Style SELECT****************/
select.select{
		position:relative;
		width:250px !important;
		height:26px !important;
		line-height:26px;
		margin-left:45px;
}

/* dynamically created SPAN, placed below the SELECT */
span.select{
	position:absolute;
	bottom:0;
	float:left;
	left:0;
	width:287px;
	height:26px;
	line-height:26px;
	text-indent:10px;
	background:url(../images/mobi_selectbg.png) no-repeat 0 0;
	cursor:default;
	z-index:1;
	left:607px;
	top:9px;
}
.select option,.select1 option{
	background:#444;
	border:none;
	border-bottom:1px solid #FFF;
	vertical-align:middle;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
}
.select option:hover,.select1 option:hover{
	background:#555;
}
select.select1{
		position:relative;
		width:250px !important;
		height:26px !important;
		line-height:26px;
		margin-left:30px;
}
span.select1{
	position:absolute;
	bottom:0;
	float:left;
	left:0;
	width:287px;
	height:26px;
	line-height:26px;
	text-indent:10px;
	background:url(../images/mobi_selectbg.png) no-repeat 0 0;
	cursor:default;
	z-index:1;
	left:307px;
	top:9px;
}
#btnsubmit{
	background:url(../images/mobi_btnsearch.png) no-repeat;
	width:23px;
	height:30px;
	border:0 none;
	margin-left:35px;
	margin-top:5px;
	cursor:pointer;
}
#thuonghieu{
	float:left;
	width:958px;
}
#thuonghieu img{
	vertical-align:middle;
	margin-right:33px;
}
#maincontent{
	float:left;
	width:1000px;
	min-height:200px;
	margin-top:15px;
}
.maincontentleft{
	float:left;
	width:230px;
}
.maincontentright{
	float:left;
	width:768px;
	background:url(../images/mobi_linedoc.png) repeat-y left;
}
.maincontentright ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.maincontentright ul li .titlehang{
	background:url(../images/bgs.png) repeat-x;
	width:746px;
	height:49px;
	font-size:14px;
	line-height:30px;
    margin-left: 9px;
	margin-top:3px;
	padding-left:15px;
}
.maincontentright ul li .titlehang a{
    color: #808080;
}
.maincontentright ul li .titlehang a:hover{
    color: #da251c;
}
.maincontentright ul li.infoprofirst{
	margin-left:0px;
}
.maincontentright ul li.infopro{
	float:left;
	width:373px;
	height:247px;
	margin-left:8px;
	background:url(../images/bgpro.jpg) no-repeat bottom center;
	border:1px solid #343434;
	margin-bottom:15px;
}
.imgpro{
	float:left;
	width:100px;
	margin-top:15px;
	margin-left:15px;
}
.descpro{
	float:left;
	width:230px;
	margin-left:10px;
	margin-top:15px;
}
.buy{
	background: url(../images/mobi_buy.png) no-repeat;
	height:32px;
	width:120px;
	display:block;
	border:0 none;
	cursor:pointer
}
.buy:hover{
	background: url(../images/mobi_buyhover.png) no-repeat;
	height:32px;
	width:120px;
	display:block;
}
.descpro h3{
	margin-bottom:18px;
}
.descpro h3 a{ color:#808080; }
.descpro h3 a:hover{ color:#da251c;}
.descpro p{
	line-height:20px;
}
#banchay{
	width:220px;
	border:1px solid #808080;
	border-bottom:none;
}
#online{
	width:220px;
}

#banchay h1{
	background:url(../images/sidebar.png) no-repeat;
	height:33px;
	width:220px;
	line-height:33px;
	font-size:14px;
	text-transform:uppercase;
	padding-left:6px;
	margin-bottom:15px;
}
#online h1{
	background:url(../images/mobi_thongke.png) no-repeat;
	height:33px;
	width:220px;
	line-height:33px;
	font-size:14px;
	text-transform:uppercase;
	padding-left:6px;
	margin-bottom:15px;
}
#menubottom{
	background:url(../images/mobi_linetop.png) no-repeat center top;
	height:40px;
	text-align:center;
	position:relative;
}
ul#menubt{
	margin:0px 0px 0px 120px;
	padding:0px;
	list-style:none;
}
ul#menubt li a{
	margin-left:40px;
	line-height:40px;
	line-height:40px;
	color:#808080;
	font-weight:bold;
	display:block;
	float:left;
}
ul#menubt li a:hover{
	color: #FFF;
}
#infobottom{
	margin:0px auto;
	width:1000px;
}
#infoservice{
	width:1000px;
	background:url(../images/servicebottom.png) no-repeat top center;
	float:left;
}
#infoservice ul{
	width:300px;
	float:left;
	list-style:none;
	margin:25px 0px 0px 0px;
	padding:0px;
}
#infoservice ul h1{
	background:url(../images/mobi_bgfooter.jpg) no-repeat bottom left;
	color:#fff;
	font-size:14px;
	padding-bottom:10px;
}
#infoservice ul li a{
	background:url(../images/mobi_icon.png) no-repeat left;
	padding-left:15px;
	line-height:20px;
	margin-top:10px;
	color:#808080;
}
#infoservice ul li a:hover{
	color:#FFF;
}
#infoservice ul li img{
	vertical-align:middle;
	margin-left:10px;
}
.listpro a{
    color: #808080;
}
.minheightright{
    padding-bottom: 40px;
}
.titleright{
	color:#808080;
	display:block;
	font-size:14px;
	line-height:34px;
    height: 37px;
	width:100%;
	margin-left:10px;
	padding-left:5px;
	background:url(../images/bgs.png) repeat-x left;
}
.titleright a{
	color:#808080;
	text-decoration:none;
}
.titleright a:hover{
	color:#FFF;
}
.introdetail{
	font-size:12px;
}
.introdetail  .TitleDetail{
	display:block;
	text-align:center;
}
.introdetail img{
	margin-left:100px;
	margin-bottom:5px;
	margin-top:5px;
}
.titledv{
	color:#da251c;
	text-transform:uppercase;
	font-size:16px;
	text-align:center;
	font-weight:bold;
}


/*Style form contact*/
#form {
    width: 695px;
    height: 500px;
}

.contact_title {
    width: 100%;
    height: 55px;
    background: url('../images/contact_title.png') no-repeat left;
}

.map_title {
    width: 100%;
    height: 55px;
    background: url('../images/map_bg.png') no-repeat left;
}

.price_title {
    width: 100%;
    height: 55px;
    background: url('../images/price_bg.png') no-repeat left;
}

.news_title {
    width: 100%;
    height: 55px;
    background: url('../images/news_bg.png') no-repeat left;
}

.coperation_title {
    width: 100%;
    height: 55px;
    background: url('../images/coperation_bg.png') no-repeat left;
}

.post_title {
    width: 100%;
    height: 55px;
    background: url('../images/post_title.png') no-repeat left;
}

.recuitment_title {
    width: 100%;
    height: 55px;
    background: url('../images/recuitment_title.png') no-repeat left;
}

.fanpage {
    padding: 10px 20px;
}

#contact .title {
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #474747;
}

#contact .content {
    line-height: 30px;
    height:580px; 
    padding:8px;  
    overflow:scroll;
}

.service {
    text-align: justify;
    padding: 10px;
    height: 160px;
}

.service .box p{
    text-align: center;
    line-height: 18px;
    font-size: 13px;
    margin-top: 10px;
    color: #407cb2;
}

.box {
    width: 120px;
    height: 120px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1

}


.title {
    font-size: 15px;
}

#contactForm{
	margin:-5em 0;
	padding-top:5px;
    padding-left: 10px;
}
#contactForm fieldset{
	margin:0;
	padding:0;
	border:none;	
	float:left;
	display:inline;
	width:310px;
}		
#contactForm legend{display:none;}	
#contactForm p{margin:.5em 0;}	
#contactForm label{display:block;padding: 5px 0; font-size: 13px;}	
#contactForm input, #contactForm textarea{		
	width:252px;
	border:1px solid #ddd;
	padding:3px;
}		
#contactForm textarea{
	height:255px;
    width: 340px;
	overflow:auto;
}					
#contactForm p.submit{  
    float: right;
    margin-right: 48px;
}	
#contactForm button{
	width:140px;
	height:34px;		
	border:none;
	color:#fff;
	cursor:pointer;
	margin-left:-540px;
}				
.error{
    color:#d10506;
}
.infocontact{ float:left; width:100%; margin-top:0; font-size:12px;margin-left: 4%;}
.infocontact font.num{ color:#ff8a01; font-weight:bold;}
.infocontact span.time{ float:left; font-size:11px; line-height:20px;}
/*Button*/

.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
    
    background-color:#007dc1;
    
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    
    border:1px solid #124d77;
    
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    font-weight:normal;
    padding:6px 24px;
    text-decoration:none;
    
    text-shadow:0px 1px 0px #154682;
    
}
.button:hover {
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
    
    background-color:#0061a7;
}
.button:active {
    position:relative;
    top:1px;
}


#contactForm input[type="text"]{
    padding: 5px;   
    border: 1px solid #DDDDDD;
	margin-bottom:10px;
    
    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    
    /*Applying CSS 3radius*/   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;

}
#contactForm input[type="text"]:hover {
    border:1px solid #cccccc;
}
#contactForm input[type="text"]:focus {
    box-shadow:0 0 2px #0379b7;
}


textarea{
    color:#666;
    font-size:14px;
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    margin:5px 0px 10px 0px;
    padding:10px;
    height:75px;
    width:350px;
    border:#999 1px solid;
    box-shadow: 0 0 2px #DDDDDD;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

textarea:focus{
    color:#000;
    outline:none;
    border:#0379b7 1px solid;
    box-shadow:0 0 2px #0379b7;
}

#whyngc h3 {
    font-size: 14px;
}

#whyngc td {
    font-size: 13px;
    padding: 8px 0;
}

.partner {
    position: relative;
}

#carousel {
	margin-top: 10px;
    width: 315px;
}

#carousel img {
	border: 0;
    border-right: 1px solid #ccc;
}

#ui-carousel-next, #ui-carousel-prev {
	width: 60px;
	height: 100px;
	background: url(images/arrow-left.png) #fff center center no-repeat;
	display: block;
	position: absolute;
	top: 0;
	z-index: 100;
}
.namepro{
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    margin-top: -10px;
}
.imgdetail{
    float: left;
    width: 250px;
    margin-right: 10px;
}
.imgdetail img{
    float: left;
}
.prodetail{
    float: left;
    width: 300px;
    margin-left: 25px;
}
.prodetail p{
    font-size: 14px;
    line-height: 25px;
    padding-left: 10px;
}

.cls{
    clear: left;
}
.infoproduc{
    width: 700px;
    height: 300px;
    margin-top:25px;
    float:left;
}
#infogen{
    margin: 0px 10px;
    padding: 0px;
    list-style: none;
}
#infogen li{
    float: left;
    background: url(../images/blue2.png) no-repeat; 
    width: 132px;
    height: 31px;
    margin-right: 5px;
    color: #000;
    line-height: 31px;
    text-align: center;
    font-weight: bold;
    display: block;
    cursor: pointer;
}
#infofull,#infogenaral{
    background: #FFF;
    clear: left;
    margin-left: 10px;
    border: 1px solid #d4d4d4;
    padding: 10px;
}
#infogenaral{
    background: #FFF;
    clear: left;
    margin-left: 10px;
    border: 1px solid #d4d4d4;
    padding: 10px;
    line-height: 25px;
    font-size: 12px;
}
#infogenaral b{
    float: left;
    width: 100px;
}




table {
    border: 0 solid white;
    border-collapse: separate;
}
#compare-frame tr.r, #detail-frame tr.r {
    border-top: 1px solid #EFEFEF;
}
table, td, tr {
    border: 0 solid white;
}
td.g {
    width: 160px !important;
}
 td.g, #detail-frame td.g {
    background-color: #F6F6F6;
    border-bottom: 1px solid white;
    color: #656565;
    font-weight: bold;
    padding-left: 5px;
    width: 150px !important;
}
tr.r td.p {
    background-color: #FCFCFC;
    border-top: 1px solid #EEEEEE !important;
    vertical-align: top;
}
 td.p {
    width: 180px;
}
td.p, td.p {
    background-color: #FCFCFC;
    border-bottom: 1px solid white;
    color: #434343;
    padding-left: 5px;
}
#compare-frame td, #detail-frame td {
    font-size: 12px;
    height: 20px;
    padding: 2px;
    text-align: left;
}
.eph, .egh {
    color: #316AC5;
    cursor: pointer;
}
td.g,  td.f,  td.g,  td.f {
    border-top: 1px solid #EEEEEE !important;
}
td.v {
    border-left: 1px solid #EFEFEF;
}
td.v, #detail-frame td.v {
    background-color: #FCFCFC;
    border-bottom: 1px solid white;
    color: #717171;
}
td, #detail-frame td {
    font-size: 12px;
    height: 20px;
    padding: 2px;
    text-align: left;
}
.product-compare{
    width: 735px;
}
.zoomdiv{
    margin-top: -15px;
    margin-left: 50px;
}

table#myinfo input[type="text"] {
    padding: 3px;
}
td.head {
    background: none repeat scroll 0 0 #FFF;
    color: #E24203;
    line-height: 36px;
    text-align: center;
}
td.cart {
    padding: 5px;
    text-align: center;
}
table#myform {
    border: medium none;
    margin-left: -100px;
    width: 700px;
}
.errors {
    float: left;
}
#myform td {
    border: medium none;
    line-height: 36px;
}
table#myform textarea {
    width: 500px;
}
table#myform input[type="text"] {
    padding: 5px;
}
table#myform input[type="submit"], input[type="reset"] {
    background: none repeat scroll 0 0 #FF3300;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 3px;
}
table#myform label {
    font-weight: bold;
    padding-right: 5px;
}
input[name="update"] {
    border: 1px solid #CCCCCC;
    cursor: pointer;
    font-weight: bold;
    padding: 3px;
}
a.continew {
    border: 1px solid #CCCCCC;
    cursor: pointer;
    font-weight: bold;
    padding: 4px;
}
input[name="sendinfo"] {
    border: 1px solid #CCCCCC;
    cursor: pointer;
    font-weight: bold;
    padding: 3px;
}
.in_content table td {
    border: 1px solid #CCCCCC;
    line-height: 20px;
}
#success{
    color: white;
}
ul#news {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    margin-left: 30px;
}
ul#news li {
    border-bottom: 1px solid #444;
    clear: left;
    display: block;
    float: left;
    height: 100px;
    padding-bottom: 30px;
    padding-left: 0;
    position: relative;
    width: 580px;
}
ul#news .imgnews {
    float: left;
    margin-right: 10px;
    padding: 2px;
}
.newstitle {
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.newstitle > a {
    color: #555555;
    text-decoration: none;
}
.newstitle > a:hover {
    color: #0099FF;
}
.newsdesc *{
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 70px;
    width: 420px;
}
.newsdesc img{
    border: none;
}
.readmorenews {
    color: #da251c;;
    float: right;
    text-decoration: none;
}
.readmorenews:hover {
    color: #FF0000;
}
.maininfo{
    padding-left: 25px;
}
.newlienquan{
    margin: 0px;
    padding:0px;
    list-style:none;
}
.newlienquan a{
    color: #FFF;
}
.newlienquan a:hover{
    color: red;
}
.pro_tbl {
    border: 1px solid #BEBEBE;
    border-collapse: collapse;
    width: 100%;
}
.pro_tbl td {
    border: 1px solid #BEBEBE;
    padding: 5px;
}
.pro_row_title {
    background-color: #D5D6D1;
    font-weight: bold;
    padding: 5px;
}
.pro_row_title2 {
    background-color: #595959;
    color: White;
    font-weight: bold;
    padding: 5px;
}
.pro_row_title3 {
    background-color: #D6D6D6;
    color: #373737;
    font-weight: bold;
    padding: 5px;
}
.pro_tbl {
    border: 1px solid #BEBEBE;
    border-collapse: collapse;
    width: 100%;
}
.pro_tbl td {
    border: 1px solid #BEBEBE;
    padding: 5px;
}